$clr-primary-1 : hsl(210, 46%, 95%);
$clr-primary-2 : hsl(0, 0%, 81%);
$clr-primary-3: hsl(219, 29%, 14%);
$clr-primary-4: hsl(217, 19%, 35%);
$clr-primary-5: hsl(263, 55%, 52%);

$clr-white : hsl(0, 0%, 100%);